server:
  port:

key:
  ad:
    backend:
    front:

supabase:
  url:
  apikey:

app:
  jwt-secret:
  jwt-expiration-milliseconds:

spring:
  application:
    name:

  datasource:
    url:
    username:
    password:
    driver-class-name:

  jpa:
    hibernate:
      ddl-auto:
    show-sql:
    properties:
      hibernate:
        format-sql:
    database:
    database-platform: